@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
body {
    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: #60a5fa;
  color: black;
}

.fade-in {
  animation: fadeIn 0.6s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}